@import "../../responsive.scss";

.listPage {
  display: flex;
  height: calc(100vh - 100px);

  .listContainer {
    flex: 3;
    display: flex;
    flex-direction: column;
    height: 100%;

    .wrapper{
      //flex:1;
      height: 100%;
      padding-right: 50px;
      display: flex;
      flex-direction: column;
      gap: 50px;
      overflow-y: auto;
      padding-bottom: 50px;

      /* Hide scrollbar for Webkit browsers */
      &::-webkit-scrollbar {
        display: none;
      }

      /* Hide scrollbar for IE, Edge and Firefox */
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
    }
  }
  .mapContainer {
    flex: 2;
    height: 100%;
    background-color: #fcf5f3;

    @include md{
      display: none;
    }
  }
}